<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" /> -->
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <packageSourceMapping>
    <packageSource key="nuget.org">
        <package pattern="MongoDB.Bson" />
      <package pattern="MediatR" />
      <package pattern="AutoMapper.Extensions.Microsoft.DependencyInjection" />
      <package pattern="Microsoft.*" />
      <package pattern="Azure.Core" />
      <package pattern="Azure.Identity" />
      <package pattern="System.Configuration.ConfigurationManager" />
      <package pattern="System.Diagnostics.DiagnosticSource" />
      <package pattern="System.Drawing.Common" />
      <package pattern="System.Formats.Asn1" />
      <package pattern="System.IdentityModel.Tokens.Jwt" />
      <package pattern="System.IO.FileSystem.AccessControl" />
      <package pattern="System.Memory" />
      <package pattern="System.Memory.Data" />
      <package pattern="System.Numerics.Vectors" />
      <package pattern="System.Runtime" />
      <package pattern="System.Runtime.Caching" />
      <package pattern="System.Runtime.CompilerServices.Unsafe" />
      <package pattern="System.Security.AccessControl" />
      <package pattern="System.Security.Cryptography.Cng" />
      <package pattern="System.Security.Cryptography.ProtectedData" />
      <package pattern="System.Security.Permissions" />
      <package pattern="System.Security.Principal.Windows" />
      <package pattern="System.Text.Encoding" />
      <package pattern="System.Text.Encoding.CodePages" />
      <package pattern="System.Text.Encodings.Web" />
      <package pattern="System.Text.Json" />
      <package pattern="System.Threading.Tasks.Extensions" />
      <package pattern="System.Windows.Extensions" />
      <package pattern="Humanizer.Core" />
      <package pattern="Mono.TextTemplating" />
      <package pattern="System.CodeDom" />
      <package pattern="System.Collections.Immutable" />
      <package pattern="System.Composition" />
      <package pattern="System.Composition.AttributedModel" />
      <package pattern="System.Composition.Convention" />
      <package pattern="System.Composition.Hosting" />
      <package pattern="System.Composition.Runtime" />
      <package pattern="System.Composition.TypedParts" />
      <package pattern="System.IO.Pipelines" />
      <package pattern="System.Reflection.Metadata" />
      <package pattern="System.Threading.Channels" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="System.ComponentModel.Annotations" />
      <package pattern="Swashbuckle.AspNetCore" />
      <package pattern="Swashbuckle.AspNetCore.Swagger" />
      <package pattern="Swashbuckle.AspNetCore.SwaggerGen" />
      <package pattern="Swashbuckle.AspNetCore.SwaggerUI" />
      <package pattern="AutoMapper" />
      <package pattern="MediatR.Contracts" />
      <package pattern="FluentValidation" />
      <package pattern="FluentValidation.DependencyInjectionExtensions" />
      <package pattern="SendGrid" />
      <package pattern="starkbank-ecdsa" />
      <package pattern="Ardalis.ApiEndpoints" />
      <package pattern="Ardalis.ApiEndpoints.CodeAnalyzers" />
      <package pattern="Ardalis.EFCore.Extensions" />
      <package pattern="Ardalis.HttpClientTestExtensions" />
      <package pattern="coverlet.collector" />
      <package pattern="SQLite" />
      <package pattern="SQLitePCLRaw.bundle_e_sqlite3" />
      <package pattern="SQLitePCLRaw.core" />
      <package pattern="SQLitePCLRaw.lib.e_sqlite3" />
      <package pattern="SQLitePCLRaw.provider.dynamic_cdecl" />
      <package pattern="Swashbuckle.AspNetCore.Annotations" />
      <package pattern="System.Net.NameResolution" />
      <package pattern="System.Private.DataContractSerialization" />
      <package pattern="System.Private.Uri" />
      <package pattern="System.Runtime.Serialization.Json" />
      <package pattern="System.Security.SecureString" />
      <package pattern="System.Xml.XmlSerializer" />
      <package pattern="xunit" />
      <package pattern="xunit.abstractions" />
      <package pattern="xunit.analyzers" />
      <package pattern="xunit.assert" />
      <package pattern="xunit.core" />
      <package pattern="xunit.extensibility.core" />
      <package pattern="xunit.extensibility.execution" />
      <package pattern="xunit.runner.visualstudio" />
      <package pattern="MSTest.TestAdapter" />
      <package pattern="MSTest.TestFramework" />
      <package pattern="Namotion.Reflection" />
      <package pattern="NJsonSchema" />
      <package pattern="NJsonSchema.Annotations" />
      <package pattern="NJsonSchema.NewtonsoftJson" />
      <package pattern="NSwag.Core" />
      <package pattern="NSwag.Generation" />
      <package pattern="NSwag.Generation.AspNetCore" />
      <package pattern="System.Net.WebSockets" />
      <package pattern="System.Diagnostics.TextWriterTraceListener" />
      <package pattern="System.Diagnostics.TraceSource" />
      <package pattern="Castle.Core" />
      <package pattern="Moq" />
      <package pattern="NuGet.Frameworks" />
      <package pattern="System.Diagnostics.EventLog" />
      <package pattern="DiffEngine" />
      <package pattern="EmptyFiles" />
      <package pattern="Shouldly" />
      <package pattern="System.Management" />
      <package pattern="Blazored.LocalStorage" />
      <package pattern="Asp.Versioning.Abstractions" />
      <package pattern="Asp.Versioning.Http" />
      <package pattern="Asp.Versioning.Mvc" />
      <package pattern="Asp.Versioning.Mvc.ApiExplorer" />
      <package pattern="Npgsql" />
      <package pattern="Npgsql.EntityFrameworkCore.PostgreSQL" />
      <package pattern="Owin" />
      <package pattern="MudBlazor" />
      <package pattern="MudBlazor.ThemeManager" />
      <package pattern="SQLitePCLRaw.provider.e_sqlite3" />
      <package pattern="StyleCop.Analyzers" />
      <package pattern="RabbitMQ.Client" />
      <package pattern="Swashbuckle.Core" />
      <package pattern="AWSSDK.Core" />
      <package pattern="AWSSDK.SecurityToken" />
      <package pattern="DnsClient" />
      <package pattern="MongoDB.Driver" />
      <package pattern="MongoDB.Driver.Core" />
      <package pattern="MongoDB.Libmongocrypt" />
      <package pattern="SharpCompress" />
      <package pattern="Snappier" />
      <package pattern="ZstdSharp.Port" />
      <package pattern="AspNetCore.HealthChecks.MongoDb" />
      <package pattern="Serilog" />
      <package pattern="Serilog.Sinks.Console" />
      <package pattern="Serilog.Extensions.Logging" />
      <package pattern="Serilog.Sinks.File" />
      <package pattern="Serilog.Settings.Configuration" />
      <package pattern="Serilog.Sinks.PeriodicBatching" />
      <package pattern="Serilog.Sinks.Seq" />
      <package pattern="Riok.Mapperly" />
      <package pattern="FluentValidation.AspNetCore" />
    </packageSource>
    <packageSource key="Microsoft Visual Studio Offline Packages">
      <package pattern="runtime.native.System" />
      <package pattern="System.Collections.Concurrent" />
      <package pattern="System.Diagnostics.Tracing" />
      <package pattern="System.Net.Primitives" />
      <package pattern="System.Security.Cryptography.Primitives" />
      <package pattern="NETStandard.Library" />
      <package pattern="runtime.debian.8-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.fedora.23-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.fedora.24-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.native.System.IO.Compression" />
      <package pattern="runtime.native.System.Net.Http" />
      <package pattern="runtime.native.System.Security.Cryptography.Apple" />
      <package pattern="runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.opensuse.13.2-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.opensuse.42.1-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.Apple" />
      <package pattern="runtime.osx.10.10-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.rhel.7-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.14.04-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.16.04-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="runtime.ubuntu.16.10-x64.runtime.native.System.Security.Cryptography.OpenSsl" />
      <package pattern="System.AppContext" />
      <package pattern="System.Buffers" />
      <package pattern="System.Collections" />
      <package pattern="System.Console" />
      <package pattern="System.Diagnostics.Debug" />
      <package pattern="System.Diagnostics.Tools" />
      <package pattern="System.Globalization" />
      <package pattern="System.Globalization.Calendars" />
      <package pattern="System.Globalization.Extensions" />
      <package pattern="System.IO" />
      <package pattern="System.IO.Compression" />
      <package pattern="System.IO.Compression.ZipFile" />
      <package pattern="System.IO.FileSystem" />
      <package pattern="System.IO.FileSystem.Primitives" />
      <package pattern="System.Linq" />
      <package pattern="System.Linq.Expressions" />
      <package pattern="System.Net.Http" />
      <package pattern="System.Net.Sockets" />
      <package pattern="System.ObjectModel" />
      <package pattern="System.Reflection" />
      <package pattern="System.Reflection.Emit" />
      <package pattern="System.Reflection.Emit.ILGeneration" />
      <package pattern="System.Reflection.Emit.Lightweight" />
      <package pattern="System.Reflection.Extensions" />
      <package pattern="System.Reflection.Primitives" />
      <package pattern="System.Reflection.TypeExtensions" />
      <package pattern="System.Resources.ResourceManager" />
      <package pattern="System.Runtime.Extensions" />
      <package pattern="System.Runtime.Handles" />
      <package pattern="System.Runtime.InteropServices" />
      <package pattern="System.Runtime.InteropServices.RuntimeInformation" />
      <package pattern="System.Runtime.Numerics" />
      <package pattern="System.Security.Cryptography.Algorithms" />
      <package pattern="System.Security.Cryptography.Csp" />
      <package pattern="System.Security.Cryptography.Encoding" />
      <package pattern="System.Security.Cryptography.OpenSsl" />
      <package pattern="System.Security.Cryptography.X509Certificates" />
      <package pattern="System.Text.Encoding.Extensions" />
      <package pattern="System.Text.RegularExpressions" />
      <package pattern="System.Threading" />
      <package pattern="System.Threading.Tasks" />
      <package pattern="System.Threading.Timer" />
      <package pattern="System.Xml.ReaderWriter" />
      <package pattern="Scalar.AspNetCore" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
  </disabledPackageSources>
</configuration>